<% for (var i = 0; i < hikes.length; i++) { %>
	<li class="list-group-item">
		<button class="btn btn-primary pull-right delete" >x</button>
		<i><%= hikes[i].count %></i>
		<br>
		<b><%= hikes[i].postContent %></b>
		<br>
		<i><%= hikes[i].day %> <%= hikes[i].displayDate %></i>
	</li>
<% } %>